doctype html
html
    head
        title= "Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/style.css')
    body
        .container
            h2 Chat App: 
            #content
            .controls
                | Name: 
                input#name
                br
                br
                | Message: 
                input#field
                br
                input#send(type='button', value='send')